.page {
  background-color: #c3edf0;
  min-width: 320px;
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  font-family: 'Inter', Helvetica, Arial, sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
  font-size: 32px;
  border-bottom: 1px solid #c0c0c0;
}

.headet__title {
  font-size: 38px;
  color: #0c457d;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
}
.chart {
  max-width: 1280px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 1px solid #c0c0c0;
  margin-bottom: 30px;
}
.chart__title {
  margin: 0;
  font-weight: 500;
  margin-bottom: 30px;
  color: #0c457d;
}

#bar_chart {
  background-color: #fff;
  border: 1px solid #006161;
  border-radius: 12px;
  margin-bottom: 50px;
}

#line_chart {
  background-color: #fff;
  border: 1px solid #006161;
  border-radius: 12px;
  margin-bottom: 50px;
}

#pie_chart {
  background-color: #fff;
  border: 1px solid #006161;
  border-radius: 12px;
  margin-bottom: 50px;
}
